[defaults]
inventory=/home/arajeet/ansibleWorkspace/inventory
#host_key_checking=false

[inventory]
enable_plugins = host_list, script, yaml, ini, auto

[privilege_escalation]
become=True
become_method=sudo
become_user=root
become_ask_pass=false
